/*
* Coming from WP Grid Gallery Plugin
*/
.wp_grid_gallery_container img {
    /* Important to ensure not another plugin overwrite it */
    width: 100%!important;
    margin: 0 0 0.5em;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.18);
    border-radius: 3px;
}