/*
* Coming from WP Grid Gallery Plugin
*/
.wp_grid_gallery_container img {
    /* Important to ensure not another plugin overwrite it */
    width: 100%!important;
    margin: 0 0 0.5em;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.18);
    border-radius: 3px;
    cursor: pointer;
    transition: all .3s;
    filter: grayscale(1);
}
.wp_grid_gallery_container img:hover {
    filter: grayscale(0%);
    transform: scale(1.02);
}
/* Lightbox */
.wp_grid_gallery_lightbox {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: visibility 0.4s, opacity 0.4s linear;
    visibility: visible;    
    z-index: 999999;
    opacity: 1;
}
.wp_grid_gallery_lightbox.hide {
    visibility: hidden;   
    opacity: 0; 
}
.wp_grid_gallery_lightbox .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.9);
}
.wp_grid_gallery_lightbox .close_btn{
    top: 10%;
    right: 5%;
    z-index: 100;
    position: absolute;
    color: white;
    font-weight: 900;
    font-size: 4rem;
    cursor: pointer;
    text-shadow: 0px 0px 5px black;
}
.wp_grid_gallery_lightbox img {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    height: auto;
    z-index: 99;
    border-radius: 3px;
}
@media(max-width: 576px) {
    body .wp_grid_gallery_container {
        column-count: 1!important;
    }
    .wp_grid_gallery_lightbox img {
        width: 90%;
    }
}
@media(min-width: 577px) and (max-width: 768px) {
    body .wp_grid_gallery_container {
        column-count: 3!important;
    }
}

@media(min-width: 1200px) {
    .wp_grid_gallery_lightbox img {
        height: 90%;
    }
}